# ==========================================
# Base & Permissions
# ==========================================
TZ=America/Chicago
PUID=1001
PGID=1001

# ==========================================
# Paths
# ==========================================
MEDIA_ROOT=/mnt/gdrive
DOWNLOAD_ROOT=./downloads

# ==========================================
# MoviePilot Credentials
# ==========================================
MP_SUPERUSER=admin
MP_SUPERUSER_PASSWORD=your_secure_admin_password

# ==========================================
# Database Credentials
# ==========================================
# PostgreSQL
PG_PASSWORD=your_secure_pg_password

# Redis
REDIS_PASSWORD=your_secure_redis_password

# ==========================================
# QBit Port
# ==========================================
QBIT_PORT=00000